<html ng-app="DTCFtnApp">

<head>
    <title>DTC Entry Fountain</title>
    <link rel="stylesheet" href="Assets/jquery.mobile-1.0.min.css" />
    <link rel="stylesheet" href="Assets/btns.css" />
    <script src="Assets/jquery.js"></script>
    <script src="Assets/angular-1.3.13.min.js"></script>
    <script type="text/javascript" src="Assets/jquery.mobile-1.0.min.js"></script>
    <script type="text/javascript" src="Assets/jquery.ba-throttle-debounce.js"></script>
    <meta name="viewport" content="width=device-width" />
    <script>
        //Trigger function.
        var triggerUrl = "/trigger/";
        function sendTrigger(triggerData, buttonID) {
            var debug = false;
            if (debug) {
                console.log("DEBUG: " + triggerUrl + triggerData)
            }
            else {
                $.ajax({
                    type: "GET",
                    url: triggerUrl + triggerData
                });
            }
        }

        var DTCFtnApp = angular.module('DTCFtnApp', []);
        DTCFtnApp.controller('TriggerListCtrl', function ($scope) {
            $scope.triggers = [
              { 'id': 31, 'name': 'Red', 'theme': 'red' },
              { 'id': 32, 'name': 'Pink', 'theme': 'pink' },
              { 'id': 33, 'name': 'Light Blue', 'theme': 'blue' },
              { 'id': 34, 'name': 'Light Green', 'theme': 'green' },
              { 'id': 35, 'name': 'Purple', 'theme': 'purple' },
              { 'id': 36, 'name': 'Broncos', 'theme': 'bronco' },
              { 'id': 37, 'name': 'Starry Night', 'theme': 'a' },
              { 'id': 38, 'name': 'Rainbow', 'theme': 'rainbow' }
            ];

            $scope.btnTrigger_click = function(trigger) {
                sendTrigger(trigger.id);
            };
        });

    </script>

</head>
<body ng-controller="TriggerListCtrl" style="background-color:#000000;">
    <div data-role="page" id="one" data-theme="a">
        <noscript><div class="ui-content ui-body-a"><p>This site requires JavaScript. You must enable JavaScript to load functionality.</p></div></noscript>
        <div data-role="header">
            <h1>DTC Entry Fountain</h1>
        </div>
        <div data-role="content" data-theme="a">
            <div data-role="controlgroup">
                <li ng-repeat="trigger in triggers" ><a id="trigger{{trigger.id}}" data-theme="{{trigger.theme}}" ng-click="btnTrigger_click(trigger);" data-role="button">{{trigger.name}}</a></li>
            </div>
            <div style="text-align: center;"><img src="Assets/images/DTC_logo_sm.jpg" /></div>
        </div>
    </div>
</body>
</html>